/************************************ GENERAL SET UP ************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Commissioner', sans-serif;
  line-height: 16px;
  color: black;
  background-color: rgb(219, 214, 214);
  font-size: 16px;
}

main {
  margin: 15% auto 10%;
  width: 90vw;
  transform: translateY(-5%);
  position: relative;
}

section {
  padding: 1rem;
}

button {
  padding: 2% 4%;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(73, 170, 149);
  color: white;
  border: none;
} button:hover {
  background-color: rgb(46, 131, 113);
  cursor: pointer;
}
/************************************ END GENERAL SET UP ************************************/
/*¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬*/
/************************************ HEADER & NAV & BURGUER ************************************/
header { 
  width: 100%;
  height: 300px;
  position: relative;
  background: url(../images/image-hero-desktop.jpg) no-repeat center center/cover;
} header::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0,0,0, .6) 5%, transparent 95%);
} header * {
  z-index: 1;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76%;
  margin: 0 auto;
  padding: 2rem 0;
}

header .burger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

header .burger .burger-lines,
.burger-lines::after,
.burger-lines::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: white;
}

header .burger .burger-lines::after,
header .burger .burger-lines::before {
  content: '';
  display: block;
  top: 10px;
  background: inherit;
}

header .burger .burger-lines::before {
  top: 20px;
}

header .burger.ex {
  transform: rotateZ(45deg);
}

header .burger.ex .burger-lines::after,
header .burger.ex .burger-lines::before {
  top: 0;
  transform: rotateZ(90deg);
}

header .nav-links {
  display: none;
}

.burger-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, .3);
} .burger-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 75vw;
  height: 200px;
  border-radius: 10px;
  list-style: none;
  background-color: white;
} .burger-menu ul li {
  padding: 1rem 0 1rem 1rem;
  height: auto;
  cursor: pointer;
  font-weight: bold;
} .burger-menu ul hr {
  opacity: .2;
}

.burger-menu.open {
  display: block;
}
/************************************ END HEADER & NAV & BURGUER ************************************/
/*¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬*/
/************************************ BODY ************************************/
.seccion1 {
  padding: 5%;
  border-radius: 5px;
  background-color: white;
}

.sec1cabeza {
  position: relative;
  /* padding-bottom: 3%; */
}

.sec1cabeza>img {
  position: absolute;
  top: -100%;
  left: 50%;
  /* transform: translate(0%, -120%); */
  /* margin-bottom: 0%; */
}

.sec1cuerpo>h2 {
  font-weight: 700;
  padding: 2% 0%;
  color: black;
  text-align: center;
  line-height: 110%;
}

.sec1cuerpo>p {
  font-weight: 500;
  padding: 2% 0%;
  color: grey;
  text-align: center;
  line-height: 120%;
}

.sec1botones {
  display: flex;
  padding: 3% 0% 5%;
  flex: auto;
  align-items: stretch;
}

.btn1 {
  font-weight: 700;
  height: auto;
  width: 100%;
  font-size: 18px;
}

.bookmark {
  margin-left: 5%;
  padding: 0%;
}

.btn2 {
  display: none;
}

.stats {
  background-color: white;
  margin: 3% 0%;
  padding: 3% 2%;
  border-radius: 5px;
}

.sec2cabeza {
  display: flex;
  flex-direction: column;
  padding: 2% 0%;
}

.col1,
.col2,
.col3 {
  flex-direction: column;
  align-items: center;
  flex: 100%;
  text-align: center;
  font-weight: 700;
  padding: 6% 0%;
  border: none;
  line-height: 200%;
}

.col2 {
  margin: 0% 30%;
  border-top: 2px solid rgb(228, 233, 226);
  border-bottom: 2px solid rgb(228, 233, 226);
}

.sec2cabeza p {
  padding-top: 2%;
  color: grey;
}

.barra {
  width: 100%;
  height: 8px;
  margin-bottom: 6%;
  background-color: rgba(196, 188, 187,.5);
  border-radius: 25px;
  position: relative;
}

.barra::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  width: 78%;
  height: 8px;
  background-color: teal;
}

.seccion3 {
  background-color: white;
  padding: 10% 5% 10% 5%;
  border-radius: 5px;
}

h3 {
  font-weight: 700;
  color: black;
}

.seccion3>p {
  margin: 8% 0%;
  color: grey;
  text-align: left;
  line-height: 1.5;
  margin: 4% 0%;
  font-weight: 400;
  padding: 5% 0%;
}

.bloque {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px 20px 20px;
  margin: 3% 0%;
}

.bloquecabeza {
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.bloquetitulo1,
.bloquetitulo2 {
  display: flex;
  flex: 100%;
  justify-content: flex-start;
  padding: 1% 0%;
  line-height: 130%;
}

.bloquetitulo2 {
  color: rgb(75, 189, 151);
}

h4 {
  font-weight: 700;
  color: black;
}

.bloquecuerpo {
  padding-right: 10%;
  line-height: 1.5;
  color: grey;
}

.bloquepie {
  margin: 3% 0% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100px;
}

.bloquepie1 span {
  font-weight: 700;
  font-size: 25px;
}

.bloquepie1 p{
  margin-bottom: 1rem;
}

.bloquepie2 button {
  width: 150px;
}

#bloque3{
  opacity: 0.5;
}
/************************************ END BODY ************************************/
/*¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬*/
/************************************ UTILS ************************************/

.overflow-hidden { overflow: hidden }

/************************************ END UTILS ************************************/
/*¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬*/

@media (min-width: 500px) {
  header .burger {
    display: none;
  }

  header .nav-links {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: white;
    font-size: .8rem;
    cursor: pointer;
  }
}